@charset "utf-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clear {
  clear: both;
}

.wrapper {
  width: 400px;
}

.red-box {
  height: 100px;
  background: #ff0000;
  position: relative;
  clear: both;
}

.white-box {
  background: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 10px;
}

.box {
  width: 40px;
  height: 40px;
  background: #a9004b;
  float: left;
  margin-right:10px;
}
.box:first-child {
  margin-left: 0px;
}

.box:last-child {
  margin-right: 0px;
}

.green-box {
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}

.brown-box {
  height: 250px;
  width: 250px;
  background: #8c2727;
  float: left;
  position: relative;
}

.rectangle{
  width: 140px;
  height: 40px;
  background: #ff863f;
  border: 5px solid #ffffff;
  margin-bottom: 10px;
}
.rectangle:last-child {
  margin-bottom: 0px;
}
.wrapper2 {
  top: 40px;
  left: 40px;
  position: absolute;
}

.yellow-box {
  height: 100px;
  background: #ffd000;
}